<div class="container py-5">
    <h2 class="text-center mb-4">Ajout de d'aliment</h2>
    <form class="mx-auto" [formGroup]="fg" (ngSubmit)="addFoodFromService()">
        <div class="mb-3">
            <label class="form-label">Nom:</label>
            <input formControlName="title" class="form-control" style="border: 2px solid #ddd; border-radius: 5px;"
                type="text" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Type:</label>
            <input formControlName="type" class="form-control" style="border: 2px solid #ddd; border-radius: 5px;"
                type="text" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Description:</label>
            <input formControlName="description" class="form-control"
                style="border: 2px solid #ddd; border-radius: 5px;" type="text" required>
        </div>

        <div class="mb-3">
            <label class="form-label">filename:</label>
            <input formControlName="filename" class="form-control" style="border: 2px solid #ddd; border-radius: 5px;"
                type="text">
        </div>
        <div class="mb-3">
            <label class="form-label">height</label>
            <input formControlName="height" class="form-control" style="border: 2px solid #ddd; border-radius: 5px;"
                type="number">
        </div>
        <div class="mb-3">
            <label class="form-label">width</label>
            <input formControlName="width" class="form-control" style="border: 2px solid #ddd; border-radius: 5px;"
                type="number">
        </div>
        <div class="mb-3">
            <label class="form-label">price</label>
            <input formControlName="price" class="form-control" style="border: 2px solid #ddd; border-radius: 5px;"
                type="number" required>
        </div>
        <div>
            <button type="submit">Add Food</button>
        </div>
    </form>
</div>