<div>
    <div class="container">
        <div class="row">

            @if(food){
            <div class="col-lg-8">

                <div class="job-details-text mb-50">
                    <h2 class="mb-30">Title: {{food.title}}</h2>
                    <p class="mb-30">Description{{food.description}}</p>

                    <h4 class="mb-20">Type:</h4>
                    <p class="mb-30">{{food.type}}</p>

                    <h4 class="mb-20">Rating:</h4>
                    <p class="mb-30">{{food.rating}}</p>

                </div>
            </div>
            }

        </div>

    </div>